@page
@using GerEventos.Localization
@using GerEventos.Permissions
@using GerEventos.Pages.Eventos
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<GerEventosResource> L
@inject IAuthorizationService AuthorizationService


    <style>

        .auto-complete-select .dropdown-menu {
            max-height: 200px; /* Adjust the maximum height as needed */
            overflow-y: auto;
        }

        .auto-complete-select {
            border-radius: 0.25rem;
            padding: 0.375rem 0.75rem;
        }
    </style>



@section scripts
{
    <abp-script src="/Pages/Eventos/Index.js" />

    <script>
        $(document).ready(function () {
            $('#FiltroEvento_Produtor').select2({
                placeholder: "Selecione um produtor",
                allowClear: true,
                ajax: {
                    url: '/api/app/produtor/',
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return { filter: params.term };
                    },
                    processResults: function (data, params) {
                        return {
                            results: $.map(data.items, function (item) {
                                if (item.nome.toLowerCase().indexOf(params.term.toLowerCase()) >= 0) {
                                    return { id: item.id, text: item.nome };
                                }
                            })
                        };
                    },
                    cache: true
                },
                minimumInputLength: 1
            });
        });
    </script>

}




<meta charset="UTF-8">

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Eventos"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
                @if (await AuthorizationService.IsGrantedAsync(GerEventosPermissions.Evento.Create))
                {
                    <abp-button id="NewEventoButton"
                                text="@L["Novo Evento"].Value"
                                icon="plus"
                                button-type="Primary" />
                }
                <abp-button id="FilterButton"
                            abp-collapse-id="collapseFilter"
                            text="Filtro"
                            icon="filter"
                            button-type="Secondary" />
            </abp-column>
        </abp-row>

        <abp-collapse-body id="collapseFilter">
            <hr style="height:2px;color:darkblue;background-color:darkblue;" />

            <abp-row>
                <abp-column size-md="_4">
                    <abp-input id="FiltroEvento_Nome" asp-for="@Model.FiltroEvento.Nome" />
                </abp-column>
                <abp-column size-md="_4">
                    <abp-date-range-picker id="FiltroEvento_DataRange"
                                           name="FiltroEvento.DataRange"
                                           clear-button="false"
                                           today-button-classes="btn-primary"
                                           asp-for-start="FiltroEvento.DataInicio"
                                           asp-for-end="FiltroEvento.DataFim"
                                           placeholder="Selecione o intervalo de datas" />
                </abp-column>
                <abp-column size-md="_4">
                    <div class="mb-3">
                        <label class="form-label" asp-for="@Model.FiltroEvento.ProdutorId"></label>
                        <select asp-for="FiltroEvento.ProdutorId"
                                id="FiltroEvento_Produtor"
                                class="auto-complete-select form-control ">
                        </select>
                    </div>
                </abp-column>
            </abp-row>


            <abp-column size-md="_6">
                <abp-button id="ApplyFilterButton"
                            text="Aplicar filtro"
                            button-type="Primary" />
                <abp-button id="LimpaFiltroButton"
                            text="Limpar filtro"
                            button-type="Warning" />
            </abp-column>
            <hr style="height:2px;color:darkblue;background-color:darkblue;" />

        </abp-collapse-body>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="EventosTable"></abp-table>
    </abp-card-body>
</abp-card>
